.App {
    text-align: center;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:
   "field  header"
   "field  settings"
   "field  footer";
    grid-template-columns: 9fr minmax(300px,3fr);
    grid-template-rows: 1fr 3fr 1fr;
  }

.game-settings {
    grid-area: settings;
}

.game-field {
    grid-area: field;
    justify-self: center;
}
header{
    grid-area: header;
}

footer{
    grid-area: footer;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

